@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 0px 60px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  max-width: 1240px;
  margin: 0 auto;
}

.header_wrapper {
display: flex;
justify-content: space-between;
}

.header_left {
  display: flex;
  gap: 200px;
  padding: 5px;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 80px;
}

.logo h1 {
  margin: 0;
  font-size: 20px;
  letter-spacing: 2px;
}
.logo p {
  margin: 0;
  font-size: 12px;
  color: gray;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #333;
  gap: 15px;
}

.delivery_svg {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.social a {
  margin: 0 5px;
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.social a:hover {
  color: gray;
}

.cart {
  font-size: 16px;
}

.hero {
  min-height: calc(100vh - 145px);
  position: relative;
  background: #EBEBEE;
  background-image: url("./images/cream.svg");
  background-repeat: no-repeat;
  background-position: 81% 24%;
  background-size: 72%; 
  overflow: hidden;
  padding-bottom: 0px;
}

.hero_content {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.wave {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;}

.wave_png {
  display: block;
  height: auto;
  width: 100%;
  position: relative;
  top: -90px; 
}
.cream_btn {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fdfdfd65;
  padding: 5px 15px;
  border-radius: 25px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  font-size: 13px;
  font-weight: 400;
  color: black;
  z-index: 3;
}

.pill-icon {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #35352F; 
  border: 5px solid #ccc;
  display: inline-block;
}

.pill-text {
  font-family: 'Inter', sans-serif;
}

.btn_1 {
  top: 70%;
  left: 44%;
}

.btn_2 {
  bottom: 74%;
  left: 44%;
}

.btn_3 {
  top: 30%;
  left: 78%;
}


.hero_wrapper {
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  padding: 200px 60px;
  width: 100%;
  position: relative;
  z-index: 7;
}


.hero_wrapper p {
  color: #6F6F65;
  font-size: 12px;
  font-weight: 300;
}

.hero_wrapper span {
  font-weight: 600;
  font-size: 28px;
}

.hero_wrapper h1  {
  font-weight: 300 !important;
  font-size: 28px;
}

.hero .btn {
  background: #35352F;
  color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  border: 0;
  transition: all 500ms ease;
}

.hero .btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.product_section {
  position: relative;
  background: #fff;
  padding: 60px 50px;
  max-width: 1240px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.product_wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: flex-start;
  position: relative;
  z-index: 3;
}
/* .product_info{
  max-width: 600px;
  flex: 1;
} */
.product_features {
  margin-top: 20px;
  
}

.product_features h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}


.feature_name {
  color: #35352F;
  font-size: 14px;
  font-weight: 400;
}
.feature_value {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.img_product {
  position: relative;
  width: 60%;
  height: auto;
}
.lotion_jpeg {
  height: 100%;
  display: block;
  width: 100%;
}


/* .footer {
  background: #35352F;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer_social {
  margin: 5px 0;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.footer_social a:hover{ 
  color:gray;
} */