@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 10px 60px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  max-width: 1240px;
  margin: 0 auto;
}

.header_wrapper {
display: flex;
justify-content: space-between;
}

.header_left {
  display: flex;
  gap: 200px;
  padding: 5px;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 80px;
}

.logo h1 {
  margin: 0;
  font-size: 20px;
  letter-spacing: 2px;
}
.logo p {
  margin: 0;
  font-size: 12px;
  color: gray;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #333;
  gap: 15px;
}

.delivery_svg {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.social a {
  margin: 0 5px;
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.social a:hover {
  color: gray;
}

.cart {
  font-size: 16px;
}

.hero {
  height: calc(100vh - 145px);
  background: #EBEBEE;
  overflow: hidden;
  position: relative;
}

.hero::after {
  content: url("./images/cream.svg");
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  z-index: 1;
}

.cream_btn {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fdfdfd65;
  padding: 8px 24px;
  border-radius: 25px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  font-size: 16px;
  font-weight: 400;
  color: black;
  z-index: 3;
}

.pill-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #35352F; 
  border: 5px solid #ccc;
  display: inline-block;
}

.pill-text {
  font-family: 'Inter', sans-serif;
}

.btn_1 {
  top: 60%;
  left: 49%;
}

.btn_2 {
  bottom: 14%;
  right: 33%;
}

.btn_3 {
  top: 28%;
  left: 82%;
}


.hero_wrapper {
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  padding: 200px 60px;
  width: 100%;
  position: relative;
  z-index: 7;
}


.hero_wrapper p {
  color: #6F6F65;
  font-size: 12px;
  font-weight: 300;
}

.hero_wrapper span {
  font-weight: 600;
  font-size: 28px;
}

.hero_wrapper h1  {
  font-weight: 300 !important;
  font-size: 28px;
}

.hero .btn {
  background: #35352F;
  color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  border: 0;
  transition: all 500ms ease;
}

.hero .btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.wave {
  position: relative;
  height: 150px;
}


.footer {
  background: #35352F;
  text-align: center;
  padding: 20px 0;
}

.footer_social {
  margin: 5px 0;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.footer_social a:hover{ 
  color:gray;
}